/* input:invalid { */
  /* border: 2px dashed red; */
/* } */
/* input:focus {
  /* background-image: linear-gradient(hotpink, lightgreen); */
	/* background-color: yellow; */
/* } */ 

input:valid:required {
  background-color: green;
  color: white;
}

.validation-text-wrong{
  color: tomato;
}

.validation-text-ok {
  color: darkgreen;
}