/* ?      custom properties     */
:root {
	--font-size-section-subtitle: 1rem;
	--font-size-title: 0.875rem;
	--font-size-paragraph: 0.75rem;

	--font-size-sub-div-title: 0.75rem;
	--font-size-sub-div-par: 0.85rem;

	--text-color-orange: #f42;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.nav-top-desktop {
	display: none;
}

button {
	background-color: unset;
	border: none;
	outline: none;
}

button:hover {
	cursor: pointer;
}

img {
	width: 100%;
	object-fit: cover;
}

section {
	margin-top: 4em;
}

h3 {
	font-size: var(--font-size-title);
}

p {
	font-size: var(--font-size-paragraph);
}

a {
	text-decoration: none;
	color: unset;
}

/* ?              general classes        */
.margin-bottom {
	margin-bottom: 2em;
}

/* 
.padding-around {
  padding: 0 2em;
} */

.nav-top-mobile {
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: cornflowerblue;
}

.logo {
	background-color: black;
	width: 110px;
}

.search-icon {
	width: 30px;
	height: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.281);
}

.hamburger {
	width: 24px;
	height: 30px;
	border-left: 1px solid rgba(0, 0, 0, 0.281);
}

.yellow-add {
	background-color: yellow;
}

/* ?                  main               */

main {
	margin: 0 1em;
}

.top-articles {
	margin-top: unset;
}

.top-article-image {
	width: 100%;
	height: 230px;
	object-fit: cover;
}

/* ?            latest news section          */

.section-title {
	margin: 1em 0;
	color: var(--text-color-orange);
	font-weight: 900;
}

.latest-news-img {
	width: 65px;
	height: 70px;
	object-fit: cover;
}

.latest-news-article {
	margin: 1em 0;
	display: flex;
	gap: 1em;
	align-items: flex-start;
	justify-content: center;
}

.latest-title {
	line-height: 1.2;
	margin-bottom: 0.5em;
}

.latest-subtitle {
	color: grey;
}

/*?                   latest funding section              */

.section-link-list {
	list-style: none;
}

.section-link {
	font-size: var(--font-size-section-subtitle);
	color: var(--text-color-orange);
}

/* ?                  Footer                      */

footer {
	margin-top: 4em;
	text-align: center;
	position: relative;
	z-index: 4;
	padding: 0;
	border: 0;
	display: block;
	background-color: #131313;
	font-family: helvetica;
}

.fa {
	padding: 10px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background: #333333;
	color: white;
}
/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}
.footer-links-social {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
}
.footer-links-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: center;
	padding-bottom: 40px;
}
.footer-links-menu a {
	text-decoration: none;
	font-size: 12px;
	color: #aaaaaa;
	padding: 5px;
}
.footer-links-social li,
.footer-links-menu li {
	padding: 3px;
	list-style: none;
}
.footer-legal-logoTNW {
	width: 47px;
	height: 9px;
}
.footer-legal-logoStackPath {
	width: 75px;
	height: 9px;
}
.footer-legal {
	background-color: black;
	color: #aaaaaa;
	font-size: 13px;
	padding: 2.5em 0;
	text-align: center;
	line-height: 19px;
}

/* ?					Fork */

.sub-div {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff4f2;
	color: var(--text-color-orange);
}

.sub-div-text {
	padding: 1em;
}

.sub-div-title {
	font-size: var(--font-size-sub-div-title);
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sub-div-par {
	font-size: var(--font-size-sub-div-par);
	font-weight: 700;
}

/* ?								hard-fork-container					 */

.hard-fork-container {
	margin-top: 2em;
}

.hard-fork-list {
	margin: 1em;
}

.hard-ford-list-item {
	font-size: var(--font-size-sub-div-par);
	color: #5c5c5c;
	padding: .8em 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}


/* ?													 */

.section-title-div {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.section-subtitle {
	color:var(--text-color-orange);
	font-size: var(--font-size-sub-div-par);
}