* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  text-align: center;
  font-size: 14px;
}

nav,
footer {
  margin: 1em;
  width: 100%;

  /* border: 2px solid magenta; */
}

a {
  text-decoration: none;
  color: unset;
  padding: .5em auto;
}

a:hover,
a:focus {
  text-decoration: underline;
}


/* ? ////////    nav section  */

nav {
  display: flex;
  justify-content: flex-end;

  font-size: 13px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 0.5em;
  padding: .5em;
}

.app {
  font-size: 18px;
  opacity: .55;
  /* margin: auto .2em; */
}

.app:hover,
.app:focus {
  opacity: 1;
}


/*  ?   ///////      main   */

main {
  margin-bottom: 350px;
}

.search-bar {
  width: 500px;
  padding: 1em;
  margin: 1.5em;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px #c0c0c0;
  border-radius: 50px;
  outline-style: none;
  font-size: 1rem;
}


/* ? ////  Buttons  */
.btn {
  padding: .5em 1em;
  
  font-size: 14px;
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid #f8f9fa ;
  border-radius: 4px;
  user-select: none;
}

.search-btn{
  margin: .5em 0.5em;
}

.search-btn:hover,
.search-btn:focus {
  cursor: pointer;
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


.sign-in {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  border: 1px solid #4285f4;
  border-radius: 2px;
  cursor: default;
}

.sign-in:hover,
.sign-in:focus {
  cursor: default;
}

.cursor-default {
  cursor: default;
}


/* ? /////   footer              */

footer {
  background-color: #f2f2f2;
  color: #70757a;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* padding: .5em 0; */
  margin-bottom: 0;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

/* todo Could only use 1 div  called "ftr-dvs" instead of left + right.... */
.ftr-div-left,
.ftr-div-right {
  margin: 0 1em;
  /* padding: 1em; */
}

.ftr-list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em 1em;
  /* border: 2px solid magenta; */
}

.ftr-item {
  margin: 0 0.5em;
}
