* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    padding: 5px 15px;
	position: fixed;
	width: 100%;
	z-index: 100;
    border-bottom: 1px solid #00000021;
}

img,
button {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
} 


button {
    outline: none;
	border: none;
	background-color: unset;
	font-family: "Roboto", sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered{
    margin: 0 auto;
}


/* ?                    navbar                                               */

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: 33%;
    text-align: center;
}

.hamburger-search-container{
    justify-content: flex-start;
    align-items: flex-start;
}

.hamburger {
	width: 16px;
}

.search-icon {
	width: 16px;
    margin: 0 30px;
}

.logo-img {
    width: 189px;
}

.navbar-heading{
    font-size: 14px;
}

.nav-btns {
    justify-content: flex-end;
}

.nav-btn {
    padding: 10px 15px;
    background-color: #567b95;
    color: white;
    font-weight: 700;
    font-size: 11px;
    border-radius: 3px;
    letter-spacing: 0.05em;
}



/* ?                    title                                        */
.title-div{
    padding-top: 7em;
    padding-bottom: 2em;
    border-bottom: 1px solid #00000021;
}

.title {
    font-size: 2rem;
    font-style: italic;
    width: 600px;
}