* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row {
	// max-width: 90%;
	// margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 60px);
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 2px solid magenta;
}

.column {
	text-align: center;
	background-color: yellowgreen;
}
